* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;

  font-family: "Cuprum", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  color: #000000;

  background-color: #ffffff;
  background-position: top center;
  background-repeat: no-repeat;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
  font-size: 17px;
}

li {
  list-style: none;
}
h1 {
  margin: 0;
  font-size: 16px;
  line-height: 23px;
  font-family: "Cuprum", sans-serif;
  font-style: italic;
  color: #ee3643;
}
h2 {
  font-size: 30px;
  color: #32425c;
  text-transform: uppercase;
  font-weight: normal;
}
.header__main {
  background: #293449;
  width: 100%;
  height: 42px;
  top: 0;
  left: 0;
  z-index: 17;
}
.container {
  width: 940px;
  margin: 0 auto;
}
.header__logo {
}
.header__top {
  display: flex;
  /* align-items: center; */
}
.header__top-remote {
  display: flex;
}
.header__top-left {
  display: flex;
  color: #ffffff;
}
.header__top-logo {
  position: absolute;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  background: #ee3643;
  border-bottom: 5px solid #b52933;
  letter-spacing: -1px;
  padding: 10px 55px;
  height: 45px;
}
.header__top-logo:hover {
  background: #ca2c37;
  border-bottom: 5px solid #9a212a;
}
.header__top-right {
  display: flex;
  height: 42px;
}
.header__top-search-form {
  margin-left: 198px;
}
form {
  position: relative;
  width: 327px;
  margin: 0 auto;
  height: 42px;
}
/* form:hover {
  background: #212a3a;
} */
input {
  height: 42px;
  width: 110px;
  padding: 0 15px 0 45px;
  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
  background: #293449;
  transition: 0.4s cubic-bezier(0, 0.8, 0, 1);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  color: #ffffff;
  font-size: 17px;
}
input:focus {
  width: 250px;
  z-index: 1;
  /* border-bottom: 2px solid #f9f0da; */
}

.header__top-search-form button {
  background: #293449;
  border: none;
  height: 42px;
  width: 42px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 5;
}
.header__top-search-form button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: #ffffff;
  opacity: 0.3;
}
.header__top-search-form button:hover:before {
  opacity: 1;
}
.header__top-search-form button:active:before {
  opacity: 0.5;
}
.header__top-mark::before {
  content: "\f02e";
  font-family: FontAwesome;
  font-size: 16px;
  color: #ffffff;
  opacity: 0.3;
  padding-right: 10px;
}
.header__top-mark:hover:before {
  opacity: 1;
}
.header__top-mark:active {
  opacity: 0.5;
}
.header__top-busket {
  margin-left: 35px;
}
.header__top-busket::before {
  content: "\f07a";
  font-family: FontAwesome;
  font-size: 16px;
  color: #ffffff;
  opacity: 0.3;
  padding-right: 10px;
}
.header__top-busket:hover:before {
  opacity: 1;
}
.header__top-busket:active {
  opacity: 0.5;
}
.user-naviagation-order-button {
  margin-left: 30px;
  background: #63a63e;
  padding: 7px 20px;
  transition: all 0.5s;
}
.user-naviagation-order-button:hover {
  background: #5fbb2d;
}
.user-naviagation-order-button:active {
  opacity: 0.5;
}

.header__top-remote {
  align-items: center;
}
.header__middle {
  display: flex;
  justify-content: space-between;
  padding: 45px 0;
  background: #f3f7f8;
}
.header__middle-title {
  padding-left: 50px;
  width: 310px;
  max-width: 312px;
}
.header__middle-contacts {
  width: 310px;
  height: 45px;
  min-width: 250px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__middle-contacts .phone {
  width: 270px;
  min-width: 200px;
  text-align: center;
}
.header__middle-init {
  width: 312px;
  display: flex;
  justify-content: flex-end;
}
.phone {
  color: #ee3643;
  font-size: 21px;
  border: 2px solid #ffffff;
  padding: 5px 0;
}
.addres {
  color: #32425c;
  font-size: 14px;
  line-height: 24px;
}
.exit button::before {
  content: "\f090";
  font-family: FontAwesome;
  font-size: 16px;
  color: #000000;
  opacity: 0.3;
  padding-right: 10px;
}
.exit button:hover:before {
  opacity: 1;
}
.exit button:hover {
  color: #ee3643;
}
.exit button {
  background: #ffffff;
  padding: 7px 25px;
  border: none;
  cursor: pointer;
  font-size: 21px;
}
/* .exit {
  display: flex;
  align-items: center;
} */
.registrarion {
  margin-left: 10px;
}

.registrarion button:hover {
  color: #ee3643;
}
.registrarion button {
  background: #ffffff;
  padding: 7px 25px;
  border: none;
  cursor: pointer;
  font-size: 21px;
}
.header__middle::before {
  background: #000;
}
.header__middle-bg {
  background: #f3f7f9;
  padding-bottom: 60px;
}
.header__bottom {
  /* background: #32425c; */
  display: flex;
  justify-content: space-between;
  background: #32425c;
}
.header__bottom a {
  padding: 20px 34px;
  display: inline-block;
  background: #32425c;
  margin-right: -4px;
  border-bottom: 5px solid #293449;
  transition: all 0.5s;
}
.header__bottom a:hover {
  background: #293449;
  /* color: #32425c; */
}
.header__bottom a:active {
  opacity: 0.5;
}
.card {
  width: 300px;
  height: 125px;
  background: #000;
}
.services__body {
  display: flex;
  justify-content: space-between;
}
.services__body-left {
  display: flex;
  flex-direction: column;
}
/* .cards {
  display: inline-flex;
} */
.slider {
  width: 620px;
  height: 270px;
  margin-top: 20px;
}
.cards {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
}
.services__body-right .cards {
  display: flex;
  flex-direction: column;
}
.material {
  background: #ffbf47;
  background-image: url(../img/01.png);
  background-position: right;
  background-position-x: 212px;
  background-repeat: no-repeat;
}
.card__title {
  font-size: 24px;
  line-height: 30px;
}
.card {
  padding: 25px 0 23px 23px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* .card__button {
  opacity: 0.5;
} */
.card__button button {
  width: 135px;
  height: 38px;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 3px;
  transition: all 0.5s;
  cursor: pointer;
}
.card__button button:hover {
  background: rgba(0, 0, 0, 0.2);
}
.card__button button:active {
  background: rgba(0, 0, 0, 0.3);
}
.tool {
  background: #3bbce3;
  background-image: url(../img/02.png);
  background-position: right;
  background-position-x: 212px;
  background-repeat: no-repeat;
}
.tool .card__button button {
}
.technick {
  background: #dc91d8;
  background-image: url(../img/03.png);
  background-position: right;
  background-position-x: 212px;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}
.sale {
  background: #8ed78f;
  background-image: url(../img/04.png);
  background-position: right;
  background-position-x: 212px;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}
.delivery {
  background: #ffc047;
  background-image: url(../img/05.png);
  background-position: right;
  background-position-x: 212px;
  background-repeat: no-repeat;
}

.slider__item {
  padding: 26px 0 22px 26px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.slider__item-first {
  background: url(../img/sl01.jpg) no-repeat;
  height: 100%;
  background-size: cover;
  height: 270px;
  /* display: none; */
}
.slider__item-body p {
  font-size: 36px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.slider__item-body span {
  margin-top: 10px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}
.slider__item-button {
}
.slider__item-button button {
  color: #ffffff;
  background: #ee3643;
  border: none;
  text-transform: uppercase;
  width: 195px;
  height: 35px;
  border-radius: 3px;
  margin-top: 125px;
  transition: all 0.5s;
  cursor: pointer;
}
.slider__item-button button:hover {
  background: #ca2c37;
}
.slider__item-button button:active {
  background: #ba2732;
}
.slider__item-second {
  background: url(../img/sl02.jpg) no-repeat;
  height: 100%;
  background-size: cover;
  display: none;
  height: 270px;
}
.services__body {
  padding: 60px 0 50px 0;
}
.slider .slick-arrow {
  position: absolute;
  top: 45%;
  z-index: 10;
  cursor: pointer;
}
.slider .slick-arrow.slick-prev {
  left: 0;
  padding-left: 20px;
}
.slider .slick-arrow.slick-next {
  right: 0;
  padding-right: 20px;
}
.pgoods__button button {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  border: none;
  background: #ee3643;
  width: 250px;
  height: 38px;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.5s;
}
.pgoods__button button:hover {
  background: #ca2c37;
}
.pgoods__button button:active {
  background: #ba2732;
}
.pgoods__body-header {
  background: #f9f5f0;
  padding: 20px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.catalog-items {
  padding: 20px 0;
}

.catalog-items .row {
  display: flex;
  justify-content: space-between;
}

.catalog-item {
  position: relative;
  display: inline-block;
  width: 221px;
  /* margin-right: 18px; */
  /* margin-bottom: 20px; */

  line-height: 20px;
  font-weight: bold;
  text-align: center;

  border: 1px solid #ccc;
}

.catalog-items {
  font-size: 0;
}

.catalog-item {
  font-size: 16px;
}

.catalog-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;

  width: 60px;
  height: 60px;

  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.catalog-item .flag-new {
  background: url("../img/new flag.png") no-repeat 0 0;
}

.catalog-item .actions {
  position: absolute;
  top: 0;
  left: 0;

  width: 218px;
  height: 88px;
  padding: 40px 0;

  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
}

.catalog-item .actions .buy,
.catalog-item .actions .bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;

  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius: 3px;

  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.catalog-item .actions .bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.catalog-item .actions {
  display: none;
}

.catalog-item:hover .actions {
  display: block;
}

.catalog-item .actions {
  display: none;
}

.catalog-item .image {
  width: 218px;
  height: 168px;
}

.catalog-item .image img {
  max-width: 100%;
}

.catalog-item .title {
  min-height: 40px;
  padding: 0 40px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.catalog-item .discount {
  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;

  color: #999;
  text-decoration: line-through;
}

.catalog-item .price {
  position: relative;
  width: 140px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 10px 30px;

  color: white;
  background: #ee3643;
  border-radius: 3px;
}

.catalog-item .price:after {
  content: "";

  position: absolute;
  top: 0;
  right: -20px;

  width: 0;
  height: 0;

  border: 20px solid white;
  border-left-color: #ee3643;
}
.catalog-item:last-child {
  margin-right: 0;
}
.producers__body-header {
  background: #f9f5f0;
  padding: 20px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.producers__button button {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  border: none;
  background: #ee3643;
  width: 250px;
  height: 38px;
  border-radius: 3px;
  transition: all 0.5s;
  cursor: pointer;
}
.producers__button button:hover {
  background: #ca2c37;
}
.producers__button button:active {
  background: #ba2732;
}
.producers__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 0 20px 0;
}
.producers__items-item {
  width: 220px;
  height: 145px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #cccccc;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.5s;
}
.producers__items-item:hover {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}
.catalog-item .actions .buy .catalog-item .actions.bookmark:hover {
  background: black;
}
.buy:hover {
  background: #000;
}
.services-tabs {
  background: #f4f8f9;
}
.services-tabs__title {
  padding: 60px 0 40px 0;
  width: 370px;
}
.services-tabs__title p {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.services-tabs__title span {
  font-size: 13px;
  line-height: 24px;
}
.tabs-content__body {
  padding: 35px 0 70px 0;
  width: 650px;
  /* background-position: bottom; */
  background-position-y: 50px;
  height: 265px;
  padding-right: 306px;
}
.tabs-content__body p {
  font-size: 30px;
  color: #32425c;
  margin-bottom: 30px;
}
.tabs-content__body span {
  font-size: 13px;
  line-height: 24px;
}
.tabs {
  display: flex;
}
.tabs__control {
  display: flex;
  flex-direction: column;
}
.tabs__control label {
  width: 240px;
  height: 60px;
  background: #32425c;
  color: #ffffff;
  font-size: 21px;
  line-height: 30px;
  padding: 18px 0 0 20px;
  /* border: 1px solid #293449; */
}
.tabs {
  min-width: 320px;
  max-width: 1140px;
  padding: 0px;
  margin: 0 auto;
  margin-top: 20px;
  padding-bottom: 60px;
}
.tbc {
  display: none;
}
.tabs input {
  display: none;
}
.tabs__control label {
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.tabs label:hover {
  color: #888;
  cursor: pointer;
}

/* .tabs__control #tab1:checked ~ #content1,
.tabs__control #tab2:checked ~ #content2,
.tabs__control #tab3:checked ~ #content3 {
  display: block;
} */
.tab-switch:checked + .tab-label {
  background: #ffffff;
  border: none;
  color: #32425c;
  z-index: 1;
}
#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}
.tabs-content__body {
  position: absolute;
  margin-left: 291px;
  /* margin-bottom: 83px; */
  margin-top: -202px;
  /* background: url(../img/serv01.png);
  background-repeat: no-repeat;
  background-position: right; */
}
.tabs__delivery {
  background: url(../img/serv01.png);
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: 70px;
}
/* .tabs-content__body-delivery {
  background: url(../img/serv01.png);
  background-repeat: no-repeat;
  background-position: right;
} */
.tabs__guaranty {
  background: url(../img/serv02.png);
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: 70px;
}
.tabs__credit {
  background: url(../img/serv03.png);
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: 70px;
}
.label_shadow {
  box-shadow: 0 0 20px -20px #000 inset, -20px 0 20px -20px #000 inset;
}
.tabs-content__button button {
  color: #ffffff;
  background: #ee3643;
  border: none;
  text-transform: uppercase;
  width: 195px;
  height: 35px;
  border-radius: 3px;
  margin-top: 30px;
  cursor: pointer;
}
.tabs-content__button button:hover {
  background: #ca2c37;
}
.tabs-content__button button:active {
  background: #ba2732;
}
.contacts__body {
  padding: 80px 0;
  display: flex;
}
.contacts__left-text p {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.contacts__left {
  width: 535px;
}
.first-span {
  display: block;
  margin-bottom: 30px;
}
.contacts__right-text p {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.contacts__right {
  padding-left: 115px;
}
.contacts__right-map {
  margin: 35px 0 40px 0;
}
.contacts__right-button button {
  color: #ffffff;
  background: #ee3643;
  border: none;
  text-transform: uppercase;
  width: 100%;
  height: 35px;
  border-radius: 3px;
  cursor: pointer;
}
.contacts__right-button button:hover {
  background: #ca2c37;
}
.contacts__right-button button:active {
  background: #ba2732;
}
.contacts__left-block {
  width: 200px;
  padding: 25px 0 17px;
}
.contacts__left-block span {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.contacts__left-block span:last-child {
  margin-bottom: 0;
}
.contacts__left-block span::before {
  content: "";
  width: 25px;
  height: 2px;
  background: #ee3643;
  margin-right: 10px;
}
.contacts__left-button button {
  color: #ffffff;
  background: #ee3643;
  border: none;
  text-transform: uppercase;
  width: 220px;
  height: 35px;
  border-radius: 3px;
  cursor: pointer;
}
.contacts__left-button button:hover {
  background: #ca2c37;
}
.contacts__left-button button:active {
  background: #ba2732;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 3000px;
  top: 0;
  left: 0;
  /* bottom: 0; */
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 100;
}

.popup {
  position: absolute;
  width: 950px;
  height: 450px;
  left: 50%;
  top: 2454px;
  transform: translate(-50%, -50%);
  /* background-color: #8c8523; */
}
.popup__container {
  display: flex;
}
.popup__text {
  color: #ffffff;
  padding: 70px 35px 70px 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.popup__text p {
  display: block;
  font-size: 20px;
}
.popup__text span {
  display: block;
}
.close-popup {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 23px;
  height: 23px;
  cursor: pointer;
  margin: 10px 10px 0 0;
  /* background: #590212; */
}

.close-popup:before {
  content: "";
  background-color: #ee3744;
  position: absolute;
  height: 3px;
  width: 31px;
  top: 11px;
  left: -4px;
  transform: rotate(-45deg);
}

.close-popup:after {
  content: "";
  background-color: #ee3744;
  position: absolute;
  height: 3px;
  width: 31px;
  top: 11px;
  transform: rotate(45deg);
  left: -4px;
}
.popup__img img {
  max-width: 100%;
}
.mybtn:hover {
  cursor: pointer;
}
.footer__top {
  display: flex;
  justify-content: space-between;
}
.footer__top-logo {
  /* position: absolute; */
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  background: #ee3643;
  border-bottom: 5px solid #b52933;
  letter-spacing: -1px;
  padding: 10px 55px;
  height: 45px;
}
.footer__top-logo:hover {
  background: #ca2c37;
  border-bottom: 5px solid #9a212a;
  cursor: pointer;
}
.footer__body {
  background: #32425c;
}
.footer__top-nav {
  min-width: 555px;
  display: flex;
  justify-content: space-between;
  float: right;
  padding: 40px 10px 0;
}
.footer__top-nav a:hover {
  text-decoration: underline;
  transition: all 0.5s;
}
.footer__top-nav a:active {
  text-decoration: none;
  opacity: 0.5;
}
.footer__top-text {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}
.footer__top-contacts {
  display: flex;
  justify-content: space-between;
  padding: 30px 0 50px 0;
}
.footer__top-contacts-nav {
  min-width: 520px;
  display: flex;
  justify-content: space-between;
  float: right;
  padding: 0 10px 0 0;
}
.footer__top-contacts-nav a {
  color: #ffd180;
  transition: all 0.5s;
}
.footer__top-contacts-nav a:hover {
  text-decoration: underline;
}
.footer__top-contacts-nav a:active {
  text-decoration: none;
  opacity: 0.5;
}
.footer__bottom-bg {
  background: #293449;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  padding: 35px 25px 30px 0;
}
.icon {
  width: 30px;
  height: 30px;
  background: #212a3a;
  padding: 5px;
  border-radius: 50%;
  /* text-align: center; */
  /* padding-left: 9px; */
}
.icon:hover {
  background: #ee3643;
}
.footer__bottom-text {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}
.footer__bottom-contacts {
  display: flex;
}
.footer__bottom-contacts span {
  display: block;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}
.footer__bottom-contacts a {
  color: #ffd180;
}
.footer__bottom-contacts .feedback {
  padding-right: 50px;
}
.footer__bottom-contacts a:active {
  color: #ee3643;
}
/* .cover {
  width: 366px;
  margin: auto;
  display: none;
}

.form1 input[type="text"],
.form1 input[type="tel"] {
  width: 400px;
  height: 40px;
  padding-left: 40px;
}
.form1 textarea {
  width: 400px;
  height: 150px;
}

.form1 input,
.form1 textarea {
  background-color: transparent;
  border: 1px solid #590212;
  padding: 10px;
  font-family: Roboto;
  color: #000000;
  font-size: 14px;
  margin-bottom: 15px;
  margin-top: -10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

.form1 input:focus,
.form1 textarea:focus {
  border: 3px solid #ff5400;
}

.form1 input[type="submit"] {
  border: none;
  cursor: pointer;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  background-color: #590212;
  width: 400px;
  height: 40px;
  margin-bottom: 0;
  transition: all 0.5s;
}

.form1 input[type="submit"]:hover {
  background: #ffffff;
  color: #590212;
  border: 1px solid #590212;
}

.form1 input[type="submit"]:active {
  top: 1px;
}
.form1 .email {
  background: url(../images/icon-mail.png) no-repeat;
  background-position: 10px;
}
.form1 .tel {
  background: url(../images/icon-phone.png) no-repeat;
  background-position: 10px;
}
.form1 .name {
  background: url(../images/icon-name.png) no-repeat;
  background-position: 10px;
} */
